*{
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
}
.header{
   min-height: 100vh;
   width: 100%;
   background-image: linear-gradient(#E0BCB4,#FAE3DE),url("./images/banner.png");
   background-position: center;
   background-size: cover;
   position: relative;
}
nav{
   display: flex;
   padding: 2% 6%;
   justify-content: space-between;
   align-items: center;

}
nav img{
   width: 200px;
   
}
.nav-links{
   flex: 1;
   text-align:right;
  
}
.nav-links ul li{
   list-style: none;
   display: inline-block;
   padding: 8px 12px;
   position: relative;
}
.nav-links ul li a{
   color: #fff;
   text-decoration: none;
   font-size: 15px;
}
/*Im confuse on how theres a little line underneath each of the hyperlinks but when i put r its still a line not just r*/
.nav-links ul li::after{
   content: '';
    width: 0%;
    height: 2px;
    background: #6b413e;
    display: block;
    margin: auto;
    transition:0.5em
}
.nav-links ul li:hover::after{
   content: '';
    width: 100%;
    height: 2px;
    background: #6b413e;
    display: block;
    margin: auto;
}

